.weather-header {
    border: 2pt solid black;
    padding: 20px;
    color: burlywood;
}

.container {
    border: 5pt solid rgb(214, 87, 87);
}

.row {
    
    padding: 20px;
}

.columns {
    border: 1pt solid rgb(168, 166, 49);
    padding: 20px;
}

.mystyle {
    border: 1pt solid rgb(168, 166, 49);
}