.weather-header {
    
    padding: 40px;
    color: burlywood;
    font-size: 50px;
}

.container {
    border: 5pt solid rgb(214, 87, 87);
}

.row {
    
    padding: 20px;
}

.columns {
    /* border: 1pt solid rgb(168, 166, 49); */
    padding: 20px;
}

/* .mystyle {
    border: 1pt solid rgb(168, 166, 49);
} */

.newcard {
    background-color: chartreuse;
}

.newlistbtn{
    border-radius: 12px;
    transition-duration: 0.4s;
  color: rgb(172, 25, 25);
  width: 100%;
  

}

.newlistbtn:hover {
    background-color: #adaf4c;
  color: white;
}

.city-list {
    background-color: white;
   
}

.uvValue {
    background-color: rgb(47, 146, 64);
}
.uvValue2 {
    background-color: rgb(236, 233, 27);
}
.uvValue3 {
    background-color: rgb(185, 35, 35);
}

.uvbtn {
    background-color: rgb(224, 66, 26);
}